<div class="SkybrudUmbracoRedirects ImportDialog umb-overlay umb-overlay-right" ng-controller="SkybrudUmbracoRedirects.ImportDialog.Controller as vm">
    <umb-editor-view>
        <umb-editor-header name="model.title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>
        <umb-editor-container>
            <umb-box>
                <umb-box-content>
                    <div>Upload a file to import redirects into the site. File must be .CSV format.</div>
                    <div class="umb-panel-group__details-status-actions ng-scope" ng-hide="vm.processing || vm.processed">
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-info" style="margin-bottom: 10px; text-align: center;">
                                    Select .csv <input type="file" accept=".csv" umb-file-upload ngf-multiple="false" class="ng-scope" style="display: none;">
                                </span>
                            </label>
                            <input type="text" id="fileName" class="form-control" readonly style="text-align: center; width: 300px;" value="{{vm.fileName}}">
                        </div>
                        <input ng-if="vm.fileName" type="submit" ng-click="vm.upload()" class="btn btn-success" value="Upload file" style="text-align: center; width: 200px;">
                    </div>
                    <div class="umb-panel-group__details-status-actions ng-scope" ng-show="vm.processing">
                        <div class="clearfix ng-scope">
                            <div class="alert alert-info">Processing file<strong> {{vm.fileName}} </strong></div>
                        </div>
                        <umb-load-indicator></umb-load-indicator>
                    </div>
                    <div class="umb-panel-group__details-status-actions ng-scope" ng-show="vm.processed">
                        <div class="clearfix ng-scope">
                            <div ng-show="vm.success" class="alert alert-success"><b>Success - </b>{{vm.success}}</div>
                            <div ng-show="vm.error" class="alert alert-error"><b>Error processing file {{vm.fileName}} - </b>{{vm.error}}</div>
                            <div class="btn-group">
                                <input ng-preventdefault ng-click="vm.close()" class="btn btn-info" value="Close" style="width: 200px;">
                            </div>
                        </div>
                    </div>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button ng-if="model.infiniteMode" action="vm.close()" button-style="link" label="{{model.closeButtonLabel || 'Close'}}" type="button"></umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</div>